<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BugMapper">
    
    <resultMap type="Bug" id="BugResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="source"    column="source"    />
        <result property="timeConsume"    column="time_consume"    />
        <result property="reason"    column="reason"    />
        <result property="solution"    column="solution"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBugVo">
        select id, name, type, source, time_consume, reason, solution, create_time, update_time from bug
    </sql>

    <select id="selectBugList" parameterType="Bug" resultMap="BugResult">
        <include refid="selectBugVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="source != null  and source != ''"> and source = #{source}</if>
            <if test="reason != null  and reason != ''"> and reason like concat('%', #{reason}, '%')</if>
            <if test="solution != null  and solution != ''"> and solution like concat('%', #{solution}, '%')</if>
        </where>
    </select>
    
    <select id="selectBugById" parameterType="Long" resultMap="BugResult">
        <include refid="selectBugVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBug" parameterType="Bug" useGeneratedKeys="true" keyProperty="id">
        insert into bug
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="source != null and source != ''">source,</if>
            <if test="timeConsume != null">time_consume,</if>
            <if test="reason != null and reason != ''">reason,</if>
            <if test="solution != null and solution != ''">solution,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="source != null and source != ''">#{source},</if>
            <if test="timeConsume != null">#{timeConsume},</if>
            <if test="reason != null and reason != ''">#{reason},</if>
            <if test="solution != null and solution != ''">#{solution},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBug" parameterType="Bug">
        update bug
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="source != null and source != ''">source = #{source},</if>
            <if test="timeConsume != null">time_consume = #{timeConsume},</if>
            <if test="reason != null and reason != ''">reason = #{reason},</if>
            <if test="solution != null and solution != ''">solution = #{solution},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBugById" parameterType="Long">
        delete from bug where id = #{id}
    </delete>

    <delete id="deleteBugByIds" parameterType="String">
        delete from bug where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>