<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.Card02Mapper">
    
    <resultMap type="Card02" id="Card02Result">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="country"    column="country"    />
    </resultMap>

    <sql id="selectCard02Vo">
        select id, code, country from card02
    </sql>

    <select id="selectCard02List" parameterType="Card02" resultMap="Card02Result">
        <include refid="selectCard02Vo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
        </where>
    </select>
    
    <select id="selectCard02ById" parameterType="Long" resultMap="Card02Result">
        <include refid="selectCard02Vo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCard02" parameterType="Card02" useGeneratedKeys="true" keyProperty="id">
        insert into card02
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null  and code != ''">code,</if>
            <if test="country != null  and country != ''">country,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null  and code != ''">#{code},</if>
            <if test="country != null  and country != ''">#{country},</if>
         </trim>
    </insert>

    <update id="updateCard02" parameterType="Card02">
        update card02
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="country != null  and country != ''">country = #{country},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCard02ById" parameterType="Long">
        delete from card02 where id = #{id}
    </delete>

    <delete id="deleteCard02ByIds" parameterType="String">
        delete from card02 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>