<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CnInfoRegionMapper">
    
    <resultMap type="CnInfoRegion" id="CnInfoRegionResult">
        <result property="criId"    column="CRI_ID"    />
        <result property="criCode"    column="CRI_CODE"    />
        <result property="criName"    column="CRI_NAME"    />
        <result property="criShortName"    column="CRI_SHORT_NAME"    />
        <result property="criSuperiorCode"    column="CRI_SUPERIOR_CODE"    />
        <result property="criLng"    column="CRI_LNG"    />
        <result property="criLat"    column="CRI_LAT"    />
        <result property="criSort"    column="CRI_SORT"    />
        <result property="criGmtCreate"    column="CRI_GMT_CREATE"    />
        <result property="criGmtModified"    column="CRI_GMT_MODIFIED"    />
        <result property="criMemo"    column="CRI_MEMO"    />
        <result property="criDataState"    column="CRI_DATA_STATE"    />
        <result property="criTenantCode"    column="CRI_TENANT_CODE"    />
        <result property="criLevel"    column="CRI_LEVEL"    />
        <result property="parentName" column="parent_name" />
    </resultMap>

    <sql id="selectCnInfoRegionVo">
        select CRI_ID, CRI_CODE, CRI_NAME, CRI_SHORT_NAME, CRI_SUPERIOR_CODE, CRI_LNG, CRI_LAT, CRI_SORT, CRI_GMT_CREATE, CRI_GMT_MODIFIED, CRI_MEMO, CRI_DATA_STATE, CRI_TENANT_CODE, CRI_LEVEL from cn_info_region
    </sql>

    <select id="selectCnInfoRegionList" parameterType="CnInfoRegion" resultMap="CnInfoRegionResult">
        <include refid="selectCnInfoRegionVo"/>
        <where>  
            <if test="criCode != null  and criCode != ''"> and CRI_CODE = #{criCode}</if>
            <if test="criName != null  and criName != ''"> and CRI_NAME like concat('%', #{criName}, '%')</if>
            <if test="criShortName != null  and criShortName != ''"> and CRI_SHORT_NAME like concat('%', #{criShortName}, '%')</if>
            <if test="params.beginCriGmtCreate != null and params.beginCriGmtCreate != '' and params.endCriGmtCreate != null and params.endCriGmtCreate != ''"> and CRI_GMT_CREATE between #{params.beginCriGmtCreate} and #{params.endCriGmtCreate}</if>
            <if test="criMemo != null  and criMemo != ''"> and CRI_MEMO like concat('%', #{criMemo}, '%')</if>
            <if test="criDataState != null "> and CRI_DATA_STATE = #{criDataState}</if>
            <if test="criLevel != null  and criLevel != ''"> and CRI_LEVEL = #{criLevel}</if>
        </where>
        order by CRI_SUPERIOR_CODE
    </select>
    
    <select id="selectCnInfoRegionById" parameterType="Long" resultMap="CnInfoRegionResult">
        select t.CRI_ID, t.CRI_CODE, t.CRI_NAME, t.CRI_SHORT_NAME, t.CRI_SUPERIOR_CODE, t.CRI_LNG, t.CRI_LAT, t.CRI_SORT, t.CRI_GMT_CREATE, t.CRI_GMT_MODIFIED, t.CRI_MEMO, t.CRI_DATA_STATE, t.CRI_TENANT_CODE, t.CRI_LEVEL, p.CRI_NAME as parent_name
        from cn_info_region t
        left join cn_info_region p on p.CRI_ID = t.CRI_SUPERIOR_CODE
        where t.CRI_ID = #{criId}
    </select>
        
    <insert id="insertCnInfoRegion" parameterType="CnInfoRegion" useGeneratedKeys="true" keyProperty="criId">
        insert into cn_info_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="criCode != null and criCode != ''">CRI_CODE,</if>
            <if test="criName != null and criName != ''">CRI_NAME,</if>
            <if test="criShortName != null and criShortName != ''">CRI_SHORT_NAME,</if>
            <if test="criSuperiorCode != null">CRI_SUPERIOR_CODE,</if>
            <if test="criLng != null">CRI_LNG,</if>
            <if test="criLat != null">CRI_LAT,</if>
            <if test="criSort != null">CRI_SORT,</if>
            <if test="criGmtCreate != null">CRI_GMT_CREATE,</if>
            <if test="criGmtModified != null">CRI_GMT_MODIFIED,</if>
            <if test="criMemo != null">CRI_MEMO,</if>
            <if test="criDataState != null">CRI_DATA_STATE,</if>
            <if test="criTenantCode != null">CRI_TENANT_CODE,</if>
            <if test="criLevel != null">CRI_LEVEL,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="criCode != null and criCode != ''">#{criCode},</if>
            <if test="criName != null and criName != ''">#{criName},</if>
            <if test="criShortName != null and criShortName != ''">#{criShortName},</if>
            <if test="criSuperiorCode != null">#{criSuperiorCode},</if>
            <if test="criLng != null">#{criLng},</if>
            <if test="criLat != null">#{criLat},</if>
            <if test="criSort != null">#{criSort},</if>
            <if test="criGmtCreate != null">#{criGmtCreate},</if>
            <if test="criGmtModified != null">#{criGmtModified},</if>
            <if test="criMemo != null">#{criMemo},</if>
            <if test="criDataState != null">#{criDataState},</if>
            <if test="criTenantCode != null">#{criTenantCode},</if>
            <if test="criLevel != null">#{criLevel},</if>
         </trim>
    </insert>

    <update id="updateCnInfoRegion" parameterType="CnInfoRegion">
        update cn_info_region
        <trim prefix="SET" suffixOverrides=",">
            <if test="criCode != null and criCode != ''">CRI_CODE = #{criCode},</if>
            <if test="criName != null and criName != ''">CRI_NAME = #{criName},</if>
            <if test="criShortName != null and criShortName != ''">CRI_SHORT_NAME = #{criShortName},</if>
            <if test="criSuperiorCode != null">CRI_SUPERIOR_CODE = #{criSuperiorCode},</if>
            <if test="criLng != null">CRI_LNG = #{criLng},</if>
            <if test="criLat != null">CRI_LAT = #{criLat},</if>
            <if test="criSort != null">CRI_SORT = #{criSort},</if>
            <if test="criGmtCreate != null">CRI_GMT_CREATE = #{criGmtCreate},</if>
            <if test="criGmtModified != null">CRI_GMT_MODIFIED = #{criGmtModified},</if>
            <if test="criMemo != null">CRI_MEMO = #{criMemo},</if>
            <if test="criDataState != null">CRI_DATA_STATE = #{criDataState},</if>
            <if test="criTenantCode != null">CRI_TENANT_CODE = #{criTenantCode},</if>
            <if test="criLevel != null">CRI_LEVEL = #{criLevel},</if>
        </trim>
        where CRI_ID = #{criId}
    </update>

    <delete id="deleteCnInfoRegionById" parameterType="Long">
        delete from cn_info_region where CRI_ID = #{criId}
    </delete>

    <delete id="deleteCnInfoRegionByIds" parameterType="String">
        delete from cn_info_region where CRI_ID in 
        <foreach item="criId" collection="array" open="(" separator="," close=")">
            #{criId}
        </foreach>
    </delete>

</mapper>