<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FileMapper">
    
    <resultMap type="File" id="FileResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="briefIntroduce"    column="brief_introduce"    />
        <result property="fileSize"    column="file_size"    />
        <result property="url"    column="url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFileVo">
        select id, name, brief_introduce, file_size, url, create_time, update_time from file
    </sql>

    <select id="selectFileList" parameterType="File" resultMap="FileResult">
        <include refid="selectFileVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectFileById" parameterType="Integer" resultMap="FileResult">
        <include refid="selectFileVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFile" parameterType="File" useGeneratedKeys="true" keyProperty="id">
        insert into file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="briefIntroduce != null and briefIntroduce != ''">brief_introduce,</if>
            <if test="fileSize != null and fileSize != ''">file_size,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="briefIntroduce != null and briefIntroduce != ''">#{briefIntroduce},</if>
            <if test="fileSize != null and fileSize != ''">#{fileSize},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFile" parameterType="File">
        update file
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="briefIntroduce != null and briefIntroduce != ''">brief_introduce = #{briefIntroduce},</if>
            <if test="fileSize != null and fileSize != ''">file_size = #{fileSize},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFileById" parameterType="Integer">
        delete from file where id = #{id}
    </delete>

    <delete id="deleteFileByIds" parameterType="String">
        delete from file where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>