<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GithubNewsMapper">
    
    <resultMap type="GithubNews" id="GithubNewsResult">
        <result property="id"    column="id"    />
        <result property="newsName"    column="news_name"    />
        <result property="newsUrl"    column="news_url"    />
        <result property="newsKeywords"    column="news_keywords"    />
        <result property="newsDesc"    column="news_desc"    />
        <result property="newsTypeName"    column="news_type_name"    />
        <result property="newsCore"    column="news_core"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastUpdateTime"    column="last_update_time"    />
    </resultMap>

    <sql id="selectGithubNewsVo">
        select id, news_name, news_url, news_keywords, news_desc, news_type_name, news_core, publish_time, create_time, last_update_time from github_news
    </sql>

    <select id="selectGithubNewsList" parameterType="GithubNews" resultMap="GithubNewsResult">
        <include refid="selectGithubNewsVo"/>
        <where>  
            <if test="newsName != null  and newsName != ''"> and news_name like concat('%', #{newsName}, '%')</if>
            <if test="newsUrl != null  and newsUrl != ''"> and news_url = #{newsUrl}</if>
            <if test="newsKeywords != null  and newsKeywords != ''"> and news_keywords like concat('%', #{newsKeywords}, '%')</if>
            <if test="newsDesc != null  and newsDesc != ''"> and news_desc like concat('%', #{newsDesc}, '%')</if>
            <if test="newsTypeName != null  and newsTypeName != ''"> and news_type_name = #{newsTypeName}</if>
            <if test="newsCore != null  and newsCore != ''"> and news_core like concat('%', #{newsCore}, '%')</if>
            <if test="publishTime != null "> and publish_time = #{publishTime}</if>
            <if test="lastUpdateTime != null "> and last_update_time = #{lastUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectGithubNewsById" parameterType="Long" resultMap="GithubNewsResult">
        <include refid="selectGithubNewsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGithubNews" parameterType="GithubNews" useGeneratedKeys="true" keyProperty="id">
        insert into github_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="newsName != null  and newsName != ''">news_name,</if>
            <if test="newsUrl != null  and newsUrl != ''">news_url,</if>
            <if test="newsKeywords != null  and newsKeywords != ''">news_keywords,</if>
            <if test="newsDesc != null  and newsDesc != ''">news_desc,</if>
            <if test="newsTypeName != null  and newsTypeName != ''">news_type_name,</if>
            <if test="newsCore != null  and newsCore != ''">news_core,</if>
            <if test="publishTime != null ">publish_time,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="lastUpdateTime != null ">last_update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="newsName != null  and newsName != ''">#{newsName},</if>
            <if test="newsUrl != null  and newsUrl != ''">#{newsUrl},</if>
            <if test="newsKeywords != null  and newsKeywords != ''">#{newsKeywords},</if>
            <if test="newsDesc != null  and newsDesc != ''">#{newsDesc},</if>
            <if test="newsTypeName != null  and newsTypeName != ''">#{newsTypeName},</if>
            <if test="newsCore != null  and newsCore != ''">#{newsCore},</if>
            <if test="publishTime != null ">#{publishTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="lastUpdateTime != null ">#{lastUpdateTime},</if>
         </trim>
    </insert>

    <update id="updateGithubNews" parameterType="GithubNews">
        update github_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="newsName != null  and newsName != ''">news_name = #{newsName},</if>
            <if test="newsUrl != null  and newsUrl != ''">news_url = #{newsUrl},</if>
            <if test="newsKeywords != null  and newsKeywords != ''">news_keywords = #{newsKeywords},</if>
            <if test="newsDesc != null  and newsDesc != ''">news_desc = #{newsDesc},</if>
            <if test="newsTypeName != null  and newsTypeName != ''">news_type_name = #{newsTypeName},</if>
            <if test="newsCore != null  and newsCore != ''">news_core = #{newsCore},</if>
            <if test="publishTime != null ">publish_time = #{publishTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="lastUpdateTime != null ">last_update_time = #{lastUpdateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGithubNewsById" parameterType="Long">
        delete from github_news where id = #{id}
    </delete>

    <delete id="deleteGithubNewsByIds" parameterType="String">
        delete from github_news where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>