<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GithubFeaturev1Mapper">
    
    <resultMap type="GithubFeaturev1" id="GithubFeaturev1Result">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="featuresName"    column="features_name"    />
        <result property="projectName"    column="project_name"    />
        <result property="featuresLanuage"    column="features_lanuage"    />
        <result property="featuresFrontEnd"    column="features_front_end"    />
        <result property="featuresScore"    column="features_score"    />
        <result property="featuresPackage"    column="features_package"    />
        <result property="featuresBrief"    column="features_brief"    />
        <result property="featuresDesc"    column="features_desc"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastUpdateTime"    column="last_update_time"    />
    </resultMap>

    <sql id="selectGithubFeaturev1Vo">
        select id, project_id, features_name, project_name, features_lanuage, features_front_end, features_score, features_package, features_brief, features_desc, create_time, last_update_time from github_featurev1
    </sql>

    <select id="selectGithubFeaturev1List" parameterType="GithubFeaturev1" resultMap="GithubFeaturev1Result">
        <include refid="selectGithubFeaturev1Vo"/>
        <where>  
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="featuresName != null  and featuresName != ''"> and features_name like concat('%', #{featuresName}, '%')</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="featuresLanuage != null  and featuresLanuage != ''"> and features_lanuage = #{featuresLanuage}</if>
            <if test="featuresFrontEnd != null "> and features_front_end = #{featuresFrontEnd}</if>
            <if test="featuresScore != null "> and features_score = #{featuresScore}</if>
            <if test="featuresPackage != null  and featuresPackage != ''"> and features_package = #{featuresPackage}</if>
            <if test="featuresBrief != null  and featuresBrief != ''"> and features_brief = #{featuresBrief}</if>
            <if test="featuresDesc != null  and featuresDesc != ''"> and features_desc = #{featuresDesc}</if>
        </where>
    </select>
    
    <select id="selectGithubFeaturev1ById" parameterType="Long" resultMap="GithubFeaturev1Result">
        <include refid="selectGithubFeaturev1Vo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGithubFeaturev1" parameterType="GithubFeaturev1" useGeneratedKeys="true" keyProperty="id">
        insert into github_featurev1
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null  and projectId != ''">project_id,</if>
            <if test="featuresName != null  and featuresName != ''">features_name,</if>
            <if test="projectName != null  and projectName != ''">project_name,</if>
            <if test="featuresLanuage != null  and featuresLanuage != ''">features_lanuage,</if>
            <if test="featuresFrontEnd != null ">features_front_end,</if>
            <if test="featuresScore != null ">features_score,</if>
            <if test="featuresPackage != null  and featuresPackage != ''">features_package,</if>
            <if test="featuresBrief != null  and featuresBrief != ''">features_brief,</if>
            <if test="featuresDesc != null  and featuresDesc != ''">features_desc,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="lastUpdateTime != null ">last_update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null  and projectId != ''">#{projectId},</if>
            <if test="featuresName != null  and featuresName != ''">#{featuresName},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="featuresLanuage != null  and featuresLanuage != ''">#{featuresLanuage},</if>
            <if test="featuresFrontEnd != null ">#{featuresFrontEnd},</if>
            <if test="featuresScore != null ">#{featuresScore},</if>
            <if test="featuresPackage != null  and featuresPackage != ''">#{featuresPackage},</if>
            <if test="featuresBrief != null  and featuresBrief != ''">#{featuresBrief},</if>
            <if test="featuresDesc != null  and featuresDesc != ''">#{featuresDesc},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="lastUpdateTime != null ">#{lastUpdateTime},</if>
         </trim>
    </insert>

    <update id="updateGithubFeaturev1" parameterType="GithubFeaturev1">
        update github_featurev1
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null  and projectId != ''">project_id = #{projectId},</if>
            <if test="featuresName != null  and featuresName != ''">features_name = #{featuresName},</if>
            <if test="projectName != null  and projectName != ''">project_name = #{projectName},</if>
            <if test="featuresLanuage != null  and featuresLanuage != ''">features_lanuage = #{featuresLanuage},</if>
            <if test="featuresFrontEnd != null ">features_front_end = #{featuresFrontEnd},</if>
            <if test="featuresScore != null ">features_score = #{featuresScore},</if>
            <if test="featuresPackage != null  and featuresPackage != ''">features_package = #{featuresPackage},</if>
            <if test="featuresBrief != null  and featuresBrief != ''">features_brief = #{featuresBrief},</if>
            <if test="featuresDesc != null  and featuresDesc != ''">features_desc = #{featuresDesc},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="lastUpdateTime != null ">last_update_time = #{lastUpdateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGithubFeaturev1ById" parameterType="Long">
        delete from github_featurev1 where id = #{id}
    </delete>

    <delete id="deleteGithubFeaturev1ByIds" parameterType="String">
        delete from github_featurev1 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>