<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JokeMapper">
    
    <resultMap type="Joke" id="JokeResult">
        <result property="id"    column="id"    />
        <result property="jokeName"    column="joke_name"    />
        <result property="jokeContent"    column="joke_content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJokeVo">
        select id, joke_name, joke_content, create_time, update_time from joke
    </sql>

    <select id="selectJokeList" parameterType="Joke" resultMap="JokeResult">
        <include refid="selectJokeVo"/>
        <where>  
            <if test="jokeName != null  and jokeName != ''"> and joke_name like concat('%', #{jokeName}, '%')</if>
            <if test="jokeContent != null  and jokeContent != ''"> and joke_content like concat('%', #{jokeContent}, '%')</if>
        </where>
    </select>
    
    <select id="selectJokeById" parameterType="Long" resultMap="JokeResult">
        <include refid="selectJokeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJoke" parameterType="Joke" useGeneratedKeys="true" keyProperty="id">
        insert into joke
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jokeName != null">joke_name,</if>
            <if test="jokeContent != null">joke_content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jokeName != null">#{jokeName},</if>
            <if test="jokeContent != null">#{jokeContent},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJoke" parameterType="Joke">
        update joke
        <trim prefix="SET" suffixOverrides=",">
            <if test="jokeName != null">joke_name = #{jokeName},</if>
            <if test="jokeContent != null">joke_content = #{jokeContent},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJokeById" parameterType="Long">
        delete from joke where id = #{id}
    </delete>

    <delete id="deleteJokeByIds" parameterType="String">
        delete from joke where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>