<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LifeAchievementMapper">
    
    <resultMap type="LifeAchievement" id="LifeAchievementResult">
        <result property="id"    column="id"    />
        <result property="lifeHeart"    column="life_heart"    />
        <result property="lifeBreakthrough"    column="life_breakthrough"    />
        <result property="lifeType"    column="life_type"    />
        <result property="lifeTodo"    column="life_todo"    />
        <result property="lifeUndone"    column="life_undone"    />
        <result property="createTime"    column="create_time"    />
        <result property="lifeDesc"    column="life_desc"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLifeAchievementVo">
        select id, life_heart, life_breakthrough, life_type, life_todo, life_undone, create_time, life_desc, update_time from life_achievement
    </sql>

    <select id="selectLifeAchievementList" parameterType="LifeAchievement" resultMap="LifeAchievementResult">
        <include refid="selectLifeAchievementVo"/>
        <where>  
            <if test="lifeBreakthrough != null  and lifeBreakthrough != ''"> and life_breakthrough like concat('%', #{lifeBreakthrough}, '%')</if>
            <if test="lifeType != null  and lifeType != ''"> and life_type = #{lifeType}</if>
            <if test="lifeTodo != null  and lifeTodo != ''"> and life_todo like concat('%', #{lifeTodo}, '%')</if>
            <if test="lifeUndone != null  and lifeUndone != ''"> and life_undone like concat('%', #{lifeUndone}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="lifeDesc != null  and lifeDesc != ''"> and life_desc like concat('%', #{lifeDesc}, '%')</if>
        </where>
    </select>
    
    <select id="selectLifeAchievementById" parameterType="Long" resultMap="LifeAchievementResult">
        <include refid="selectLifeAchievementVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLifeAchievement" parameterType="LifeAchievement" useGeneratedKeys="true" keyProperty="id">
        insert into life_achievement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lifeHeart != null">life_heart,</if>
            <if test="lifeBreakthrough != null">life_breakthrough,</if>
            <if test="lifeType != null">life_type,</if>
            <if test="lifeTodo != null">life_todo,</if>
            <if test="lifeUndone != null">life_undone,</if>
            <if test="createTime != null">create_time,</if>
            <if test="lifeDesc != null">life_desc,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lifeHeart != null">#{lifeHeart},</if>
            <if test="lifeBreakthrough != null">#{lifeBreakthrough},</if>
            <if test="lifeType != null">#{lifeType},</if>
            <if test="lifeTodo != null">#{lifeTodo},</if>
            <if test="lifeUndone != null">#{lifeUndone},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="lifeDesc != null">#{lifeDesc},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLifeAchievement" parameterType="LifeAchievement">
        update life_achievement
        <trim prefix="SET" suffixOverrides=",">
            <if test="lifeHeart != null">life_heart = #{lifeHeart},</if>
            <if test="lifeBreakthrough != null">life_breakthrough = #{lifeBreakthrough},</if>
            <if test="lifeType != null">life_type = #{lifeType},</if>
            <if test="lifeTodo != null">life_todo = #{lifeTodo},</if>
            <if test="lifeUndone != null">life_undone = #{lifeUndone},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="lifeDesc != null">life_desc = #{lifeDesc},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLifeAchievementById" parameterType="Long">
        delete from life_achievement where id = #{id}
    </delete>

    <delete id="deleteLifeAchievementByIds" parameterType="String">
        delete from life_achievement where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>