<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SchoolallMapper">
    
    <resultMap type="Schoolall" id="SchoolallResult">
        <result property="id"    column="id"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="name"    column="name"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="address"    column="address"    />
    </resultMap>

    <sql id="selectSchoolallVo">
        select id, longitude, latitude, name, province, city, area, address from schoolall
    </sql>

    <select id="selectSchoolallList" parameterType="Schoolall" resultMap="SchoolallResult">
        <include refid="selectSchoolallVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="province != null  and province != ''"> and province like concat('%', #{province}, '%')</if>
            <if test="city != null  and city != ''"> and city like concat('%', #{city}, '%')</if>
            <if test="area != null  and area != ''"> and area like concat('%', #{area}, '%')</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
        </where>
    </select>
    
    <select id="selectSchoolallById" parameterType="String" resultMap="SchoolallResult">
        <include refid="selectSchoolallVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSchoolall" parameterType="Schoolall">
        insert into schoolall
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="name != null">name,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="area != null">area,</if>
            <if test="address != null">address,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="name != null">#{name},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="area != null">#{area},</if>
            <if test="address != null">#{address},</if>
         </trim>
    </insert>

    <update id="updateSchoolall" parameterType="Schoolall">
        update schoolall
        <trim prefix="SET" suffixOverrides=",">
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="name != null">name = #{name},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="area != null">area = #{area},</if>
            <if test="address != null">address = #{address},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSchoolallById" parameterType="String">
        delete from schoolall where id = #{id}
    </delete>

    <delete id="deleteSchoolallByIds" parameterType="String">
        delete from schoolall where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>