<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TimeConsumerMapper">
    
    <resultMap type="TimeConsumer" id="TimeConsumerResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="timeConsume"    column="time_consume"    />
        <result property="parentId"    column="parent_id"    />
        <result property="parentName" column="parent_name" />
    </resultMap>

    <sql id="selectTimeConsumerVo">
        select id, name, type, remark, create_time, update_time, time_consume, parent_id from time_consumer
    </sql>

    <select id="selectTimeConsumerList" parameterType="TimeConsumer" resultMap="TimeConsumerResult">
        <include refid="selectTimeConsumerVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="timeConsume != null "> and time_consume &gt;= #{timeConsume}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
        </where>
        order by parent_id
    </select>
    
    <select id="selectTimeConsumerById" parameterType="Long" resultMap="TimeConsumerResult">
        select t.id, t.name, t.type, t.remark, t.create_time, t.update_time, t.time_consume, t.parent_id, p.name as parent_name
        from time_consumer t
        left join time_consumer p on p.id = t.parent_id
        where t.id = #{id}
    </select>
        
    <insert id="insertTimeConsumer" parameterType="TimeConsumer" useGeneratedKeys="true" keyProperty="id">
        insert into time_consumer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="timeConsume != null">time_consume,</if>
            <if test="parentId != null">parent_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="timeConsume != null">#{timeConsume},</if>
            <if test="parentId != null">#{parentId},</if>
         </trim>
    </insert>

    <update id="updateTimeConsumer" parameterType="TimeConsumer">
        update time_consumer
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="timeConsume != null">time_consume = #{timeConsume},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTimeConsumerById" parameterType="Long">
        delete from time_consumer where id = #{id}
    </delete>

    <delete id="deleteTimeConsumerByIds" parameterType="String">
        delete from time_consumer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>