<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增word')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-word-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">文字：</label>
                <div class="col-sm-8">
                    <input name="word" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">繁体字：</label>
                <div class="col-sm-8">
                    <input name="oldword" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">拼音：</label>
                <div class="col-sm-8">
                    <input name="pinyin" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">偏旁：</label>
                <div class="col-sm-8">
                    <input name="radicals" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">笔画：</label>
                <div class="col-sm-8">
                    <input name="strokes" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">解释：</label>
                <div class="col-sm-8">
                    <input name="explanation" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">更多：</label>
                <div class="col-sm-8">
                    <input name="more" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/word"
        $("#form-word-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-word-add').serialize());
            }
        }
    </script>
</body>
</html>